@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
    padding: 0px;
    margin: 0px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url('../assets/images/background.jpg') center center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
}
#loading {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background: #293042;
    z-index: 999;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
#spinner {
    animation: rotate 0.56s infinite linear;
    width: 50px;
    height: 50px;
    border: 12px solid #fff;
    border-bottom: 12px solid #293042;
    border-radius: 50%;
    margin: 0;
}
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
#box {
    width: 100vw;
    height: 100vh;
    z-index: 9;
    position: fixed;
    top: 0;
}
#box div {
    width: 16.66vw;
    height: 100%;
    display: inline-block;
}
.box1 {
    background: rgb(148, 211, 129);
}
.box2 {
    background: rgb(148, 211, 129);
    margin-left: -5px;
}
#menu {
    width: 100%;
    text-align: center;
    margin: 6vh 0px;
    display: none;
}
#menu a {
    margin: 0px 6%;
    font-size: 19px;
    color: #fff;
    text-decoration: underline;
}
#middle {
    width: 100vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    top: 0;
    text-align: center;
    z-index: 1;
    color: #fff;
    padding-bottom: 10vh;
}
#middle h1 {
    color: rgba(148, 211, 129, 0.836);
    font-size: 70px;
    text-decoration: none;
}

#middle img {
    align-content: center;
    border-radius: 50% 50%;
    width: 100%;
    height: 100%;
    max-width: 300px;
    max-height: 300px;
    object-fit: fill;
}
#about {
    width: 9vw;
    height: 9vw;
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    transform: rotate(-90deg);
    background: transparent;
    color: #fff;
    position: fixed;
    left: 0;
    bottom: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 4;
    transition: 0.4s ease-in-out;
    border-style: none solid solid solid;
    border-color: rgba(148, 211, 129, 0.329);
    border-radius: 0px 0px 50px 50px;
}

#about_container .line-numbers {
    height: 10vh;
    width: 1.5%;
    color: #6b7388;
    float: left;
    margin-left: 5%;
    font-family: Roboto;
    font-size: 18px;
    text-align: right;
}

#about_container .divider {
    height: 100vh;
    width: 0.25%;
    background-color: #2a3243;
    /* display: inline-block */
    float: left;
    margin-left: 2%;
}

.comments {
    display: inline-block;
    color: rgb(71, 71, 71);
    line-height: 12px;
    margin-left: 4%;
    padding-left: 20px;
    font-size: 15px;
    margin-top: 15px;
}

.about-main-section {
    display: block;
    height: 100%;
    margin-top: -20px;
    margin-left: 2%;
}

.about-list {
    list-style-type: none;
    color: lightgray;
    /* margin-left: 10%; */
    margin-right: 13%;
    font-size: 16px;
    display: inline-block;
    width: 40%;
}

ul {
    margin-left: 0 !important;
}

.tag-info {
    text-indent: 17px;
}

#work {
    width: 9vw;
    height: 9vw;
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    transform: rotate(90deg);
    background: transparent;
    color: #fff;
    position: fixed;
    right: 0;
    bottom: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 4;
    transition: 0.4s ease-in-out;
    border-style: none solid solid solid;
    border-color: rgba(148, 211, 129, 0.329);
    border-radius: 0px 0px 50px 50px;
}
#contact {
    width: 9.5vw;
<<<<<<< HEAD
    height: 9vw;
=======
    height: 7vw;
>>>>>>> gh-pages
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    background: transparent;
    color: #fff;
    position: fixed;
    bottom: 0;
    left: 45vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 4;
    transition: 0.4s ease-in-out;
    border-style: solid solid none solid;
    border-color: rgba(148, 211, 129, 0.329);
    border-radius: 50px 50px 0px 0px;
}
#about:hover {
    background: rgba(148, 211, 129, 0.753);
    cursor: pointer;
    color: #293042;
}
#work:hover {
    background: rgba(148, 211, 129, 0.753);
    cursor: pointer;
    color: #293042;
}
#contact:hover {
    background: rgba(148, 211, 129, 0.753);
    cursor: pointer;
    color: #293042;
}
#middle table {
    width: 40%;
    margin: 3vh auto;
}
#middle table tr td {
    text-align: center;
}
.social {
    color: #fff;
    font-size: 32px;
    border-radius: 50%;
    transition: 0.4s ease-in-out;
    margin: 0px 8px;
    text-align: center;
    align-content: center;
}
.social:hover {
    cursor: pointer;
    color: rgb(148, 211, 129);
}
.container {
    width: 90vw;
    height: 90vh;
    padding: 5vh 5vw;
    background: #191920;
    color: #fff;
    z-index: 9;
    position: fixed;
    max-height: 100vh;
    overflow-y: auto;
    display: none;
}
.container div {
    font-size: 25px;
    margin: 20px 0px;
    transition: 0.4s ease-in-out;
}
.container div:hover {
    cursor: pointer;
}
.container section {
    margin: 8vh 0px;
}
#used div {
    font-size: 14px !important;
    display: inline-block;
    padding: 10px 15px;
    border: 2px solid #fff;
    margin: 0px 10px;
    border-radius: 50px;
}
/*#used {
    color: rgb(148, 211, 129);
}*/
#used:hover {
    cursor: text;
}
#used div:hover {
    cursor: text;
}
.container h1 {
    font-size: 60px;
    text-decoration: underline;
}
.container p {
    font-size: 21px;
}
.btn_one {
    font-size: 18px;
    font-family: 'Josefin Sans', sans-serif;
    color: rgb(148, 211, 129);
    background: transparent;
    border: 3px solid #fff;
    padding: 8px 40px;
    border-radius: 80px;
    font-weight: bold;
    margin: 2vh 10px;
    transition: 0.4s ease-in-out;
}
.btn_one:hover {
    cursor: pointer;
    color: rgb(31, 31, 31);
    background: #fff;
}
.btn_one a {
    text-decoration: none;
    color: rgb(148, 211, 129);
    outline: none;
}
.btn_one:hover a {
    color: rgb(31, 31, 31);
}
.btn_two {
    font-size: 18px;
    font-family: 'Josefin Sans', sans-serif;
    color: rgb(31, 31, 31);
    background: #fff;
    border: 3px solid #fff;
    padding: 8px 40px;
    border-radius: 80px;
    font-weight: bold;
    margin: 2vh 10px;
    transition: 0.4s ease-in-out;
}
.btn_two:hover {
    cursor: pointer;
    padding: 8px 60px;
}
.container form input {
    width: 46%;
    margin: 20px 1%;
    background: transparent;
    border: 0px;
    border-bottom: 3px solid rgba(255, 255, 255, 0.5);
    padding: 8px 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    transition: 0.4s ease-in-out;
    color: #fff;
    font-weight: bold;
}
.container form textarea {
    width: 96%;
    margin: 20px 1%;
    padding: 8px 10px;
    border: 0px;
    border-bottom: 3px solid rgba(255, 255, 255, 0.5);
    padding: 8px 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    background: transparent;
    resize: none;
    transition: 0.4s ease-in-out;
    color: #fff;
    font-weight: bold;
}
.container form input:focus {
    outline: none;
    border-bottom: 3px solid rgba(255, 255, 255, 1);
}
.container form textarea:focus {
    outline: none;
    border-bottom: 3px solid rgba(255, 255, 255, 1);
}
::placeholder {
    color: #fff;
}
#footer {
    color: #fff;
    width: 92vw;
    padding: 5vh 4vw;
    text-align: right;
    position: fixed;
    z-index: 1;
    bottom: 0;
    font-size: 16px;
    font-weight: bold;
}
#footer a {
    color: rgb(255, 50, 50);
}
#particles-js {
    position: fixed;
    width: 100vw;
    height: 100vh;
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(148, 211, 129, 0.836);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}
::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 119, 119, 0.8);
}

::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(128, 115, 115, 0.4);
}
::selection {
    color: #fff;
    background: #293042b2;
}

@media (max-width: 800px) {
    #about {
        display: none;
    }
    #about_container .line-numbers {
        display: none;
    }
    #about_container .divider {
        display: none;
    }

    #about_container .comments {
        margin-top: 50px;
        margin: 0 auto;
        width: 80vw;
    }
    #about_container .about-list {
        margin-top: 20px;
        margin: 0 auto;
        width: 80vw;
    }
    #contact {
        display: none;
    }
    #work {
        display: none;
    }
    #footer {
        text-align: center;
    }
    #middle {
        width: 90vw;
        padding: 0 5vw;
    }
    #middle table {
        width: 80%;
    }

    #middle img {
        display: none;
    }
    #middle h1 {
        font-size: 38px;
    }
    .container form input {
        width: 90%;
    }
    .container form textarea {
        width: 90%;
    }
    #menu {
        display: inline-block;
    }
    #onlywide {
        display: none !important;
    }
    .box2 {
        margin-left: 0px !important;
    }
    #box div {
        width: 100%;
    }
}
